#bag{
    width: 200px;
    height: 300px;
    margin: 100px auto 20px;
    /*background-color: blue;*/
    background: url('../img/1.png') center no-repeat;
    background-size: 80%;
}

#bag.burst0{
    background: url('../img/2.png') center no-repeat;
    background-size: 80%;
}

#bag.burst1{
    background: url('../img/3.png') center no-repeat;
    background-size: 80%;
}

#bag.burst2{
    background: url('../img/4.png') center no-repeat;
    background-size: 80%;
}


#bag-health{
    width: 300px;
    border: 2px #000 solid;
    margin: 0 auto 20px auto;
}

#bag-health div{
    height: 20px;
    background: crimson;
}

#control{
    width: 120px;
    margin: 0 auto;
    text-align: center;
}